#canvas {
    width: 40%;
    height: auto;
    background-color: black;
}
#header {
    text-align: center;
    font-size: 2vw;
}
audio {
    display: none;
}
#bird {
    display: none;
}
#hint {
    text-align: left;
    margin-left: 21vw;
    font-size: 1vw;
}