body {
    background-image: url(resources/images/arcade_machine_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

p {
    font-size: 1vw;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.back_button {
    z-index: 4;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 10vw;
}

#toggle_music {
    visibility: hidden;
}

#toggle_music_img {
    visibility: visible;
    z-index: 4;
    position: absolute;
    top: 5%;
    left: 82%;
    width: 5vw;
}

#toggle_sound {
    visibility: hidden;
}

#toggle_sound_img {
    visibility: visible;
    z-index: 4;
    position: absolute;
    top: 5%;
    left: 90%;
    width: 5vw;
}

#screen {
    z-index: 2;
    position: absolute;
    width: 50vw;
    height: 40vw;
    display: block;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -2%);
    margin-top: 11.5%;
}

#canvas {
    width: 70%;
    background-color: #000000;
    border-radius: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#joystick {
    z-index: 3;
    width: 6.5%;
    position: absolute;
    top: 64%;
    left: 22%;
    transition: transform 0.2s;
    transform-origin: 50% 100%;
}

#button_fire {
    z-index: 3;
    width: 5%;
    height: 3.5%;
    position: absolute;
    top: 77%;
    left: 58%;
    transition: transform 0.1s;

    background-image: url(resources/images/green_button.png);
    background-size: cover;
    background-position: center;
}

#button_fire_mask {
    z-index: 4;
    width: 11%;
    height: 4%;
    position: absolute;
    top: 79.3%;
    left: 55%;

    background-image: url(resources/images/button_mask.png);
    background-position: center;
    background-size: cover;
}

#button_down {
    z-index: 3;
    width: 5%;
    height: 3.5%;
    position: absolute;
    top: 77%;
    left: 71.7%;
    transition: transform 0.1s;

    background-image: url(resources/images/orange_button.png);
    background-size: cover;
    background-position: center;
}

#button_down_mask {
    z-index: 4;
    width: 11%;
    height: 4%;
    position: absolute;
    top: 79.3%;
    left: 68.6%;

    background-image: url(resources/images/button_mask.png);
    background-position: center;
    background-size: cover;
}

#links {
    position: absolute;
    left: 82%;
    top: 88%;
}