#canvas {
    width: 50vw;
    height: auto;
    background-color: white;
    padding: 0;
    margin: auto;
    display: block;
}
#header {
    text-align: center;
    font-size: 2vw;
}
audio {
    display: none;
}
#hint {
    text-align: left;
    margin-left: 21vw;
    font-size: 2vw;
}
#dinoPic {
    display: none;
}